Repository skyclouds2001/template-sky, changes with the labels that .github/labeler.yml gives for each.
All labels: system, source, test

feat: rename vite-template to template
  .all-contributorsrc
  .changeset/config.json
  .changeset/spotty-dragons-wait.md
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/new-contributor.yml
  .github/workflows/project-automate.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package.json
  src/index.ts
Labels: system, source

docs: update project description & keywords
  .changeset/cool-ads-fold.md
  README.md
  package.json
Labels: system

chore: remove project inner package manager
  .changeset/itchy-clocks-beam.md
  package.json
  pnpm-lock.yaml
Labels: system

build: add rollup-template-sky sub module
  .changeset/silver-comics-count.md
  .gitmodules
Labels: system

feat: more update to support new rollup template
  .changeset/sharp-comics-promise.md
  .gitmodules
  package.json
Labels: system

fix: remove unexpected useless file
  .changeset/three-otters-turn.md
  labeler.yml
Labels: system

feat: add support for generate rollup template
  src/index.ts
  src/package.ts
  src/template.ts
Labels: source

Revert "build(deps): bump the all group across 1 directory with 3 updates"
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: system

style: move rewrite algorithm to separated file
  src/index.ts
  src/rewrite.ts
Labels: source

chore: update dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: system

chore: mark some dependencies as updatable
  package.json
  pnpm-lock.yaml
Labels: system

docs: add missing changeset bits
  .changeset/giant-countries-lay.md
  .changeset/long-lobsters-design.md
  .changeset/sixty-emus-repair.md
  .changeset/tame-shoes-greet.md
  .changeset/tricky-elephants-approve.md
Labels: system

build: update coderabbit config
  .changeset/hungry-schools-taste.md
  .coderabbit.yaml
Labels: system

build: update submodules
  .changeset/fast-buses-think.md
Labels: system

feat: release v1.6.0
  .changeset/cool-ads-fold.md
  .changeset/fast-buses-think.md
  .changeset/giant-countries-lay.md
  .changeset/hungry-schools-taste.md
  .changeset/itchy-clocks-beam.md
  .changeset/long-lobsters-design.md
  .changeset/sharp-comics-promise.md
  .changeset/silver-comics-count.md
  .changeset/sixty-emus-repair.md
  .changeset/spotty-dragons-wait.md
  .changeset/tame-shoes-greet.md
  .changeset/three-otters-turn.md
  .changeset/tricky-elephants-approve.md
  CHANGELOG.md
  package.json
Labels: system

fix: change to use module generate result for cli generate
  .changeset/metal-carpets-allow.md
  index.js
Labels: system

docs: update for cli usage
  .changeset/perfect-dingos-brush.md
  README.md
  package.json
Labels: system

perf: migrate from using fs to fs/promises
  .changeset/modern-games-destroy.md
  src/fs.ts
  src/index.ts
  src/rewrite.ts
Labels: system, source

refactor: use class with static fields of template enum
  .changeset/two-cows-greet.md
  src/index.ts
  src/package.ts
  src/template.ts
Labels: system, source

refactor: move rewrite file list
  .changeset/shiny-weeks-clean.md
  src/fs.ts
  src/rewrite.ts
Labels: system, source

fix: better function name & file method call exception
  .changeset/olive-buttons-help.md
  src/fs.ts
  src/index.ts
Labels: system, source

feat: log when rewrite file failed
  .changeset/tender-pets-grab.md
  src/rewrite.ts
Labels: system, source

build: update engine limit
  .changeset/tall-moles-boil.md
  package.json
Labels: system

build: remove useless jsconfig.json file
  .changeset/rich-dolls-sing.md
  jsconfig.json
Labels: system

fix: change to use module generate result for cli generate
  .changeset/metal-carpets-allow.md
  index.js
Labels: system

perf: migrate from using fs to fs/promises
  .changeset/modern-games-destroy.md
  src/fs.ts
  src/index.ts
  src/rewrite.ts
Labels: system, source

docs: update for cli usage
  .changeset/perfect-dingos-brush.md
  README.md
  package.json
Labels: system

refactor: move rewrite file list
  .changeset/shiny-weeks-clean.md
  src/fs.ts
  src/rewrite.ts
Labels: system, source

refactor: use class with static fields of template enum
  .changeset/two-cows-greet.md
  src/index.ts
  src/package.ts
  src/template.ts
Labels: system, source

feat: log when rewrite file failed
  .changeset/tender-pets-grab.md
  src/rewrite.ts
Labels: system, source

fix: better function name & file method call exception
  .changeset/olive-buttons-help.md
  src/fs.ts
  src/index.ts
Labels: system, source

build: update engine limit
  .changeset/tall-moles-boil.md
  package.json
Labels: system

build: remove useless jsconfig.json file
  .changeset/rich-dolls-sing.md
  jsconfig.json
Labels: system

build: allow lint-staged pass empty commit
  .changeset/fresh-ants-dream.md
  .husky/pre-commit
Labels: system

ci: allow npm release
  .github/workflows/release.yml
Labels: system

ci: run build before publish
  .changeset/shaggy-rice-work.md
  .github/workflows/release.yml
Labels: system

fix: update bin cmd
  .changeset/good-eels-run.md
  package.json
Labels: system

feat: update template to latest version
  .changeset/ten-spies-type.md
Labels: system

feat: release v1.7.0
  .changeset/fresh-ants-dream.md
  .changeset/good-eels-run.md
  .changeset/metal-carpets-allow.md
  .changeset/modern-games-destroy.md
  .changeset/olive-buttons-help.md
  .changeset/perfect-dingos-brush.md
  .changeset/rich-dolls-sing.md
  .changeset/shaggy-rice-work.md
  .changeset/shiny-weeks-clean.md
  .changeset/tall-moles-boil.md
  .changeset/ten-spies-type.md
  .changeset/tender-pets-grab.md
  .changeset/two-cows-greet.md
  CHANGELOG.md
  package.json
Labels: system

fix: fix per code review
  README.md
  src/template.ts
Labels: system, source

.github/labeler.yml:

system:
  - changed-files:
    - any-glob-to-any-file:
      - .changeset/**
      - .github/**
      - .husky/**
      - '*'

source:
  - changed-files:
    - any-glob-to-any-file:
      - src/**

test:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
